# Test

In [1]:
import tasks as tsk
import numpy as np
import pandas as pd
from tourist import Tourist

In [2]:
t0 = ("barco", 39.568276, 2.637640, 0, tsk.cruise_utility)
t1 = ("catedral", 39.567425, 2.648299, 0.9, tsk.low_penalty)
t2 = ("castell", 39.563814,	2.619354, 0.9, tsk.low_penalty)
t3 = ("almudaina", 39.567886, 2.647022, 0.6, tsk.standard_penalty)
t4 = ("tren de soller", 39.576665, 2.653782, 0.5, tsk.high_penalty)
t5 = ("Plaza mayor", 39.571371, 2.651813, 0.35, tsk.standard_penalty)

tasks_ls = [t0, t1, t2, t3, t4, t5]
tasks = pd\
    .DataFrame(data=np.array(tasks_ls,
                             dtype=[("place", np.object),
                                    ("latitude", np.float64),
                                    ("longitude", np.float64),
                                    ("utility", np.float64),
                                    ("update_utility", np.object)]))

In [ ]:
topsights["update_utility"] = tsk.standard_penalty

In [3]:
tasks

,place,latitude,longitude,utility,update_utility
0,barco,39.568276,2.637640,0.00,<function cruise_utility at 0x7f75caca1670>
1,catedral,39.567425,2.648299,0.90,<function low_penalty at 0x7f75caca1550>
2,castell,39.563814,2.619354,0.90,<function low_penalty at 0x7f75caca1550>
3,almudaina,39.567886,2.647022,0.60,<function standard_penalty at 0x7f7600764...
4,tren de soller,39.576665,2.653782,0.50,<function high_penalty at 0x7f75caca15e0>
5,Plaza mayor,39.571371,2.651813,0.35,<function standard_penalty at 0x7f7600764...

In [4]:
touristt = Tourist(tasks, 20)

In [5]:
touristt.tourist_route()

time: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [6]:
touristt.task_route

[0, 5, 2, 2, 5, 1, 3, 2, 4, 2, 0, 2, 0, 4, 0, 0, 0, 1, 1, 3, 5]

In [7]:
tasks.place[touristt.task_route]

0             barco
5       Plaza mayor
2           castell
2           castell
5       Plaza mayor
1          catedral
3         almudaina
2           castell
4    tren de soller
2           castell
0             barco
2           castell
0             barco
4    tren de soller
0             barco
0             barco
0             barco
1          catedral
1          catedral
3         almudaina
5       Plaza mayor
Name: place, dtype: object

In [34]:
df = touristt.task_list[0].loc[:, ["utility"]]
for i in range(1, 20):
    df.loc[:, f"utility{i}"] = touristt.task_list[i].loc[:, ["utility"]]
df["tasks"] = tasks.place.tolist()
df.set_index("tasks")

,utility,utility1,utility2,utility3,utility4,utility5,utility6,utility7,utility8,utility9,utility10,utility11,utility12,utility13,utility14,utility15,utility16,utility17,utility18,utility19
tasks,,,,,,,,,,,,,,,,,,,,
barco,0.00,0.0000,0.0000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.225000,0.450000,0.450000,0.450000,0.450000,0.450000,0.450000,0.450000,0.450000,0.450000,0.450000
catedral,0.90,0.9000,0.9000,0.9000,0.900000,0.450000,0.450000,0.450000,0.450000,0.450000,0.450000,0.450000,0.450000,0.450000,0.450000,0.450000,0.450000,0.225000,0.112500,0.112500
castell,0.90,0.9000,0.4500,0.2250,0.225000,0.225000,0.225000,0.112500,0.112500,0.056250,0.056250,0.028125,0.028125,0.028125,0.028125,0.028125,0.028125,0.028125,0.028125,0.028125
almudaina,0.60,0.6000,0.6000,0.6000,0.600000,0.600000,0.150000,0.150000,0.150000,0.150000,0.150000,0.150000,0.150000,0.150000,0.150000,0.150000,0.150000,0.150000,0.150000,0.037500
tren de soller,0.50,0.5000,0.5000,0.5000,0.500000,0.500000,0.500000,0.500000,0.062500,0.062500,0.062500,0.062500,0.062500,0.007812,0.007812,0.007812,0.007812,0.007812,0.007812,0.007812
Plaza mayor,0.35,0.0875,0.0875,0.0875,0.021875,0.021875,0.021875,0.021875,0.021875,0.021875,0.021875,0.021875,0.021875,0.021875,0.021875,0.021875,0.021875,0.021875,0.021875,0.021875

In [35]:
touristt.task_route

[0, 5, 2, 2, 5, 1, 3, 2, 4, 2, 0, 2, 0, 4, 0, 0, 0, 1, 1, 3, 5]

Normas:
+ A partir de tiempo 10, si vamos al barco, no salir.
+